.main{
    height: 800px;
    width: 800px;
    background-color: bisque;
    margin-top: 0px !important;
}
.show{
    height: 400px;
    width: 400px;
    background-color: aqua !important;
    margin-top: 2px !important;    
}