body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.mainBox {
    background-color: #4CAF50;
    border-radius: 10px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 1.5em;
    width: 90%;
    max-width: 820px; 
}

h3 {
    margin: 20px 35px 50px 15px;
    font-family: Cambria, Georgia, Times, 'Times New Roman', serif;
}

.show {
    height: 300px; 
    width: 90%; 
    color: black;
    font-size: 150%;
    padding: 10px auto;
    margin: 50px auto;
    border: 5px solid black; 
    border-radius: 15px;
    text-align: center;
}

.pickerbox {
    height: 120px; 
    width: 90%; 
    color: white;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.box {
    height: 100px; 
    width: 18%; 
    border-radius: 15px;
}

/* Media Queries */

/* For laptops and desktops */
@media only screen and (max-width: 1199px) {
    .mainBox {
        background-color:  #0F0F0F;
        max-width: 700px; 
    }
}

/* For tablets and large phones */
@media only screen and (max-width: 767px) {
    .mainBox {
        background-color:  #36454F;
        max-width: 500px; 
    }
    .show {
        height: 200px; 
    }
    .pickerbox {
        height: 80px; 
        
    }
    .box {
        height: 70px; 
    }
}

/* For small phones */
@media only screen and (max-width: 480px) {
    .mainBox {
        background-color: #4B0082;
        max-width: 300px; 
    }
    .show {
        height: 150px; 
        font-size: 100%;
    }
    .pickerbox {
        height: 60px; 
    }
    .box {
        height: 50px; 
    }
}

/* .show{
    height: 400px;
    width: 400px;
    background-color: aqua !important;
    margin-top: 2px !important;    
}
.boxes{
   height: 200px;
   width:200px;
   background-color : red;
} */
