 .color{
    width: 100%;
    height: 100vh;
    background: linear-gradient(to bottom right, blue, purple);
  }

.font-bold{
    color: #fff;
    margin: 8%;
    margin-left: 28% !important;
    font-size: 500% !important;
} 

.box {
  width: 700px !important;
  height: 250px !important;
  margin-left: 20% !important;
  padding-bottom: 20% !important;
  /* margin-bottom: 65px !important; */
  background: #e98503 !important;
  font-size: 1190%;
  display: flexbox !important;
  align-items: self-end !important;
}

.hmm{
  display: inline-block;
  align-items: start !important;
  /* margin-bottom: 75px !important; */
}

.hmmm{
  display: inline-block;
  margin-bottom: 555px !important;
     
}

  