body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}
.heading{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 100px auto;
  padding: 10px;
  width: 900px; 
  border-radius: 20px;
  font-family: Georgia, 'Times New Roman';
  color: black
}
.container{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 90px;
  width: 9000px; 
  padding: 8px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0px 0px 55px rgba(0, 0, 0, 0.12);
  font-family: Georgia, 'Times New Roman';
  font-size: 200px;
}


