body {
    background-color: #f0f0f0;
  }
  
  .card {
    background-color: #fff;
  }
  
  .time {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 3em;
    color: #333;
  }
  